/* Google Fonts API */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* Global Styles */

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Button Style */

.btn {
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #e02c6d;
  padding: 10px 24px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.btn:hover {
  background-color: #2d25a0;
  box-shadow: 14px 17px 44px 10px rgba(0, 0, 0, 0.19);
}

.btn-alt {
  background-color: #2d25a0;
}

.btn-alt:hover {
  background-color: #e02c6d;
}

/* Header Section Styling */

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 30px;
  background-color: #2d25a0;
  z-index: 5;
}

.nav-items ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list {
  color: #ffffff;
  font-size: 16px;
  margin-left: 18px;
  margin-right: 18px;
  padding: 10px;
  transition: all 0.4s ease;
}

.nav-list:hover {
  background-color: #e02c6d;
}

.login-button {
  margin-right: 18px;
}

/* Main Section Styling */

/* Hero Section Style */

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 86px;
  background-color: #2d25a0;
}

.wrapper-content {
  width: 485px;
  margin: 0 102px 0 156px;
}

.wrapper-image {
  margin: 0 100px 0 0;
}

.heading-title {
  margin: 0 0 27px 0;
  color: #ffffff;
  font-size: 64px;
  font-weight: 700;
}

.icon {
  margin-left: 8px;
}

.head-image img {
  width: 555px;
  height: 438px;
  transition: all 0.4s ease;
}

.head-image img:hover {
  transform: rotate(10deg);
}

/* Player Profile Section Style */

.player-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.player-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.player-card {
  width: 330px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
}

.player-info .player-pic {
  width: 300px;
  height: 256px;
  cursor: pointer;
}

.player-card:hover {
  transform: scale(1.1);
}

.player-info {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.player-name {
  margin-top: 16px;
  margin-bottom: 10px;
  color: #18191f;
}

.player-desc {
  margin: 0 0 18px 0;
  line-height: 26px;
  color: #6c6c6c;
}

/* Highlights Section Style*/

.highlights-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 165px;
}

.highlight-content {
  margin-left: 165px;
}

.highlight-title {
  color: #0a0826;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

.highlight-article {
  color: #6c6c6c;
  margin-top: 8px;
  margin-bottom: 24px;
  padding-right: 51px;
  line-height: 28px;
}

.highlight-image {
  margin-left: 66px;
  margin-right: 156px;
}

.highlight-image img {
  width: 567px;
  height: 427px;
}

/* Login and Polling Section Style */

.login-section {
  margin-top: 165px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.login-image img {
  width: 600px;
  height: 400px;
}

.login-form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 40px;
}

.form-title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

.login-form input {
  width: 300px;
  font-size: 20px;
  margin-top: 20px;
  padding: 8px;
  border: 1px solid #e02c6d;
}

.login-form button {
  font-size: 20px;
  margin-top: 20px;
  border: none;
}

/* Price Section Style */

.price-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.price-content {
  margin-bottom: 40px;
  text-align: center;
}

.price-head {
  margin: 0;
  color: #18191f;
  font-size: 40px;
  font-weight: 700;
}

.price-sub {
  color: #6c6c6c;
}

.price-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.price-card {
  padding: 20px 50px;
  text-align: center;
  border-bottom: 3px solid #2d25a0;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.price-info {
  padding: 0;
  margin: 20px 10px;
}

.price-title {
  margin: 0;
  color: #18191f;
  font-size: 40px;
}

.price-value {
  padding: 10px 0;
  font-size: 20px;
  font-weight: 500;
  background-color: rgba(45, 37, 160, 0.822);
  color: #ffffff;
}

.features {
  margin-bottom: 40px;
}

.features ul {
  padding: 0;
}

.features li {
  color: #6c6c6c;
  padding: 10px 0;
}

/* Footer Section Style */

.footer-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  text-align: center;
  margin-top: 158px;
  margin-bottom: 63px;
}

.footer-image img {
  width: 484px;
  height: 110px;
}

.social-links {
  margin: 0 7px 0 7px;
  color: #969bab;
  background-color: rgba(11, 13, 23, 0.1);
  font-size: 18px;
  width: 32px;
  height: 32px;
  text-align: center;
  vertical-align: middle;
  padding: 0px 4px 0px 4px;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.social-links:hover {
  color: #e02c6d;
}

/* Media Queries for mobile screen */

@media only screen and (max-width: 688px) {
  .nav-bar {
    display: none;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 61px 15px 61px 15px;
  }

  .heading-title {
    font-size: 36px;
    margin: 0 0 30px 0;
  }
  .head-image img {
    width: 330px;
    height: 260px;
  }

  .wrapper-content {
    width: 278px;
    margin: 0 0 50px 0;
  }

  .wrapper-image {
    margin: 0;
  }

  .player-section {
    margin-top: 47px;
  }

  .player-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .highlights-section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 15px 0 15px;
    margin-top: 60px;
  }

  .highlight-title {
    font-size: 30px;
  }

  .highlight-content {
    margin: 0;
  }

  .highlight-article {
    margin-bottom: 24px;
    padding: 0;
  }

  .highlight-image {
    margin: 29px 0 0 0;
  }

  .highlight-image img {
    width: 328px;
    height: 248px;
  }

  .login-section {
    margin: 65px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .login-image img {
    width: 328px;
    height: 248px;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .form-title {
    font-size: 30px;
    margin: 30px 0 10px 0;
  }

  .login-form input {
    font-size: 16px;
    margin: 20px 0 0 0;
  }

  .login-form button {
    font-size: 16px;
    margin-top: 10px;
  }

  .price-section {
    margin: 50px 0 20px 0;
    padding: 0;
  }

  .price-content {
    margin-bottom: 20px;
  }

  .price-head {
    font-size: 26px;
  }

  .price-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .price-info {
    padding: 0;
    margin: 20px 10px;
  }

  .price-title {
    font-size: 30px;
  }

  .price-value {
    font-size: 16px;
  }

  .features {
    margin: 0 0 20px 0;
  }

  .footer-section {
    margin: 40px 0 80px 0;
  }

  .footer-image img {
    width: 200px;
    height: 50px;
  }
}

/* Media Queries for tablet devices */

@media only screen and (min-width: 689px) and (max-width: 1024px) {
  .nav-bar {
    display: none;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 70px 20px 70px 20px;
  }

  .heading-title {
    font-size: 40px;
    text-align: center;
    margin: 0 0 30px 0;
  }

  .head-image img {
    width: 400px;
    height: 300px;
  }

  .heading-title {
    font-size: 36px;
    margin: 0 0 30px 0;
  }

  .wrapper-content {
    text-align: center;
    width: 350px;
    margin: 0 0 50px 0;
  }

  .wrapper-image {
    margin: 0;
  }

  .player-section {
    margin-top: 47px;
  }

  .player-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .highlights-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px 0 25px;
    margin-top: 80px;
  }
  .highlight-content {
    margin: 0 0 40px 0;
    text-align: center;
  }

  .highlight-title {
    font-size: 35px;
  }
  .highlight-article {
    margin-bottom: 30px;
    padding: 0 100px;
  }

  .highlight-image {
    margin: 24px 0 0 0;
  }

  .highlight-image img {
    width: 350px;
    height: 280px;
  }

  .login-section {
    margin: 70px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .login-form {
    display: flex;
    flex-direction: column;
  }

  .form-title {
    font-size: 35px;
    margin: 30px 0 10px 0;
  }
  .login-form input {
    font-size: 16px;
    margin: 20px 0 0 0;
  }

  .login-form button {
    font-size: 16px;
    margin-top: 10px;
  }

  .price-section {
    margin: 50px 0 20px 0;
    padding: 0;
  }

  .price-content {
    margin-bottom: 20px;
  }

  .price-head {
    font-size: 26px;
  }

  .price-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .price-info {
    padding: 0;
    margin: 20px 10px;
  }

  .price-title {
    font-size: 30px;
  }

  .price-value {
    font-size: 16px;
  }

  .features {
    margin: 0 0 20px 0;
  }

  .footer-section {
    margin: 40px 0 80px 0;
  }

  .footer-image img {
    width: 200px;
    height: 50px;
  }
}
