/* Google Fonts API */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* Global Styles */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

/* Main Section Styling */

/* Hero Section Style */

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 86px;
  background-color: #2d25a0;
}

.wrapper-content {
  margin: 0 102px 0 156px;
}

.wrapper-image {
  margin: 0 100px 0 0;
}

.heading-title {
  color: #ffffff;
  font-size: 64px;
  font-weight: 700;
  margin: 0 0 27px 0;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #e02c6d;
  padding: 10px 24px;
  cursor: pointer;
}

.icon {
  margin-left: 8px;
}

.head-image img {
  width: 555px;
  height: 438px;
}

/* Player Profile Section Style */

.player-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.player-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.player-card {
  width: 330px;

  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-info .player-pic {
  width: 300px;
  height: 256px;
}

.player-info {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.player-name {
  margin-top: 16px;
  margin-bottom: 10px;
  color: #18191f;
}

.player-desc {
  margin: 0 0 18px 0;
  line-height: 26px;
  color: #6c6c6c;
}

/* Highlights Section Style*/

.highlights-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 165px;
}

.highlight-content {
  margin-left: 165px;
}

.highlight-title {
  color: #0a0826;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

.highlight-article {
  color: #6c6c6c;
  margin-top: 8px;
  margin-bottom: 24px;
  padding-right: 51px;
  line-height: 28px;
}

.highlight-image {
  margin-left: 66px;
  margin-right: 156px;
}

.highlight-image img {
  width: 567px;
  height: 427px;
}

/* Login and Polling Section Style */

.login-section {
  margin-top: 165px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.login-image img {
  width: 600px;
  height: 400px;
}

.login-form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  /* padding: 30px 60px; */
}

.form-title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.login-form input {
  width: 300px;
  font-size: 20px;
  margin-top: 20px;
  padding: 8px;
  border: 1px solid #e02c6d;
}

.login-form button {
  font-size: 20px;
  margin-top: 20px;
  border: none;
}
.btn-alt {
  background-color: #2d25a0;
}
/* Footer Section Style */

.footer-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  text-align: center;
  margin-top: 158px;
  margin-bottom: 63px;
}
.social-links {
  margin: 0 7px 0 7px;
  color: #969bab;
  background-color: rgba(11, 13, 23, 0.1);
  font-size: 18px;
  width: 32px;
  height: 32px;
  text-align: center;
  vertical-align: middle;
  padding: 0px 4px 0px 4px;
  border-radius: 50%;
}

.footer-image img {
  width: 484px;
  height: 110px;
}
